*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  color: #000000;
  height: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  margin: 1rem 0;
}

.App-header > h1{
  margin: 1rem 0;
}

.App-header > a{
  margin: 1rem 0;
}

.intro-section {
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.intro-text {
  width: 50vw;
  padding: 0 1.25rem;
}

.intro-text h1 {
  font-size: 2rem;
  margin-bottom: 0.625rem;
}

.cta-button {
  display: inline-block;
  background-color: #ff6600;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  text-decoration: none;
  margin: 1rem 0;
}

.cta-button:hover{
  color: #f0f0f0;
  background-color: #db5a04;
  transform: scale(1.1);
  transition: .5s ease;
}

.intro-image {
  width: 50vw;
  height: 100%;
}

.image-banner{
  width: 50vw;
  margin: 15rem 0;
}

.services-section {
  height: 10rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.services-text {
  text-align: center;
}

.services-text h2 {
  font-size: 2.2rem;
  margin: .5rem 0;
}

.services-cards-section {
  width: 100vw;
  display: flex;
}

.services-card {
  flex: 1;
  padding: 1.25rem;
  background-color: #ececec;
  text-align: center;
  margin: 1rem;
  border-radius: 1rem;
}

.services-card h3 {
  font-size: 1.25rem;
}

.about-section {
  background-color: #ffffff;
  color: #000000;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 1.5rem 0; 
}

.about-text {
  width: 50vw;
  padding: 0 1.25rem;
}

.about-text h2 {
  font-size: 1.75rem;
}

.about-image {
  width: 50vw;
  height: 100%;
  background-image: url('link-para-a-imagem');
  background-size: cover;
  background-position: center;
}

.testimonials-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.testimonials-cards {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.testimonial-card {
  padding: 1.25rem;
  background-color: #f0f0f0;
  text-align: center;
  width: 18.75rem;
  border-radius: 1rem;
}

.testimonial-card p {
  margin-bottom: 5px;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100vw;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 0.625rem;
}

.social-icon {
  color: #ffffff;
  font-size: 1.5rem;
}



@media only screen and (max-width: 900px) {
  
  .services-cards-section{
    display: flex;
    flex-direction: column;
  }
  
  .testimonials-cards{
    display: flex;
    flex-direction: column;
  }
}